*{
	font-family: $body_font;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar.navbar-default{
	background-color: $color_nav;
	border-radius: 0;
	margin: 0;
	border: none;
	.navbar-nav{
		li{
			a{
				color: white;
			}
			a:hover{
				color: $color_beige;
			}
			a.nav-dropdown{
				background-color: $transparent;
			}

		}
	}
}
.fotos-circulos{
	background-color: $color_beige;
	.los-circulos{
		position: relative;
		top: -50px;
		h5{
			font-size: 2em;
			margin-top: 5%;
		}
		p{
			margin-bottom: 30px;
		}
		a{
			background-color: $color_crema;
			font-weight:bold;
			color: $color_footer;
			padding: 10px 20px;
			border-radius: 10px;
			text-decoration: none;
		}
		a:hover{
			background-color: #D3693F;
		}
		.border-circle{
			border-radius: 50%;
			border: 10px solid $color_crema;
		}
		.border-circle:hover{
			border: 10px solid #D3693F;
		}
	}
}
.welcome{
	background-color: #f2eded;
	@include medida_padding();
	h3{
		font-size: 2.5em;
		margin-bottom: 4%;
	}
	.parag{
		padding-bottom: 20px;
	}
	i{
		color: #D3693F;
		padding-right: 7px;
	}

	border-bottom: 2px solid $color_crema;
	img{
		border-radius: 8px;
	}
}
.about{
	background-color: $color_cafe;
	color: $color_crema;
	border-bottom: 2px solid $color_crema;
	@include medida_padding();

	hr {
		border-top: 3px double $color_crema;
		width: 250px;
	}

	h3{
		font-size: 2em;
		margin-bottom: 5%;
	}
	img{
		margin: 0 25px 25px 25px;
	}
}
footer{
	background-color: $color_footer;
	color: $color_crema;
	padding: 3% 0;
	h4{
		font-size: 1.7em;
	}
	.social-red{
		padding-left: 0;
		padding-bottom: 30px;
	}
	img{
		@include redes();
		cursor: pointer;
	}
	h4{
		margin-bottom: 20px;
	}
	span{
		color: #D3693F;
	}
	i{
		color: #D3693F;
		padding-right: 10px;
		padding-bottom: 10px;
		position: relative;
		top: 10px;
	}
	hr{
		width: 100%;
		border-top: 1px solid $color_crema;
	}
}
@media (max-width: 760px){
	.seccion-circulos{
		padding-top: 60px;
	}
	.about{
		h3{
			text-align: center;
		}
		hr{
			margin: 0 auto;
			padding-bottom: 20px;
		}
		p{
			text-align: justify;
		}
	}
}

