$body_font: 'Raleway', sans-serif;
$color_nav: #281919;
$color_crema: #e2dab3;
$color_beige: #ddc987;
$about_background: #51453f;
$nada: none;
$centrado: center;
$transparente: transparent;
$color_footer: #2f241f;